In [4]:
! pip install mendeleev

Requirement already satisfied: mendeleev in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.4.5)
Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mendeleev) (1.16.4)
Requirement already satisfied: colorama in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mendeleev) (0.4.1)
Requirement already satisfied: sqlalchemy in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mendeleev) (1.3.4)
Requirement already satisfied: pyfiglet in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mendeleev) (0.8.post1)
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mendeleev) (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas->mendeleev) (2.8.0)
Requirement already satisfied: pytz>=2011k in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas->mendeleev) (2019.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->mendeleev) (1.12.0)

In [3]:
from mendeleev import Si, Fe, O
print("Si's name: ", Si.name)
print("Fe's atomic number:", Fe.atomic_number)
print("O's atomic weight: ", O.atomic_weight)

Si's name:  Silicon
Fe's atomic number: 26
O's atomic weight:  15.999

In [10]:
from mendeleev import element

In [11]:
from mendeleev import get_table

In [12]:
ptable = get_table('elements')

In [ ]:
ptable.info()

In [14]:
cols = ['atomic_number', 'symbol', 'atomic_radius', 'en_pauling', 'block', 'vdw_radius_mm3']

In [15]:
ptable[cols].head()

   atomic_number symbol  atomic_radius  en_pauling block  vdw_radius_mm3
0              1      H           79.0        2.20     s           162.0
1              2     He            NaN         NaN     s           153.0
2              3     Li          155.0        0.98     s           255.0
3              4     Be          112.0        1.57     s           223.0
4              5      B           98.0        2.04     p           215.0

In [18]:
ptable[cols].describe()

       atomic_number  atomic_radius  en_pauling  vdw_radius_mm3
count     118.000000      88.000000   85.000000       94.000000
mean       59.500000     169.397727    1.748588      248.468085
std        34.207699      49.810108    0.634442       36.017828
min         1.000000      79.000000    0.700000      153.000000
25%        30.250000     137.000000    1.240000      229.000000
50%        59.500000     160.000000    1.700000      244.000000
75%        88.750000     181.000000    2.160000      269.250000
max       118.000000     299.000000    3.980000      364.000000

In [19]:
isotopes = get_table('isotopes', index_col='id')

In [20]:
isotopes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 1 to 406
Data columns (total 11 columns):
atomic_number        406 non-null int64
mass                 377 non-null float64
abundance            288 non-null float64
mass_number          406 non-null int64
mass_uncertainty     377 non-null float64
is_radioactive       406 non-null bool
half_life            121 non-null float64
half_life_unit       85 non-null object
spin                 323 non-null float64
g_factor             323 non-null float64
quadrupole_moment    320 non-null float64
dtypes: bool(1), float64(7), int64(2), object(1)
memory usage: 35.3+ KB

In [21]:
import pandas as pd

In [22]:
merged = pd.merge(ptable[cols], isotopes, how='outer', on='atomic_number')

In [23]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 0 to 405
Data columns (total 16 columns):
atomic_number        406 non-null int64
symbol               406 non-null object
atomic_radius        325 non-null float64
en_pauling           313 non-null float64
block                406 non-null object
vdw_radius_mm3       350 non-null float64
mass                 377 non-null float64
abundance            288 non-null float64
mass_number          406 non-null int64
mass_uncertainty     377 non-null float64
is_radioactive       406 non-null bool
half_life            121 non-null float64
half_life_unit       85 non-null object
spin                 323 non-null float64
g_factor             323 non-null float64
quadrupole_moment    320 non-null float64
dtypes: bool(1), float64(10), int64(2), object(3)
memory usage: 51.1+ KB

In [24]:
merged.head()

,atomic_number,symbol,atomic_radius,en_pauling,block,vdw_radius_mm3,mass,abundance,mass_number,mass_uncertainty,is_radioactive,half_life,half_life_unit,spin,g_factor,quadrupole_moment
0,1,H,79.0,2.2,s,162.0,1.007825,0.999720,1,6.000000e-10,False,NaN,None,0.5,5.585695,0.00000
1,1,H,79.0,2.2,s,162.0,2.014102,0.000280,2,8.000000e-10,False,NaN,None,1.0,0.857438,0.00286
2,1,H,79.0,2.2,s,162.0,NaN,NaN,3,NaN,True,NaN,None,0.5,5.957994,0.00000
3,2,He,NaN,NaN,s,153.0,3.016029,0.000002,3,2.000000e-08,False,NaN,None,0.5,-4.254995,0.00000
4,2,He,NaN,NaN,s,153.0,4.002603,0.999998,4,4.000000e-10,False,NaN,None,0.0,0.000000,0.00000

In [25]:
merged[merged['symbol'] == 'Si']

,atomic_number,symbol,atomic_radius,en_pauling,block,vdw_radius_mm3,mass,abundance,mass_number,mass_uncertainty,is_radioactive,half_life,half_life_unit,spin,g_factor,quadrupole_moment
28,14,Si,132.0,1.9,p,229.0,27.976927,0.92191,28,3.000000e-09,False,NaN,None,0.0,0.00000,0.0
29,14,Si,132.0,1.9,p,229.0,28.976495,0.04699,29,3.000000e-09,False,NaN,None,0.5,-1.11058,0.0
30,14,Si,132.0,1.9,p,229.0,29.973770,0.03110,30,2.000000e-08,False,NaN,None,0.0,0.00000,0.0

In [26]:
!pip install version_information

Collecting version_information
  Downloading https://files.pythonhosted.org/packages/ff/b0/6088e15b9ac43a08ccd300d68e0b900a20cf62077596c11ad11dd8cc9e4b/version_information-1.0.3.tar.gz
Building wheels for collected packages: version-information
  Building wheel for version-information (setup.py) ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/1f/4c/b3/1976ac11dbd802723b564de1acaa453a72c36c95827e576321
Successfully built version-information
Installing collected packages: version-information
Successfully installed version-information-1.0.3

In [28]:
%load_ext version_information

In [29]:
%version_information mendeleev, sqlalchemy

Software versions
Python 3.7.3 64bit [GCC 7.3.0]
IPython 7.5.0
OS Linux 4.14.91+ x86_64 with debian buster sid
mendeleev 0.4.5
sqlalchemy 1.3.4
Fri May 31 08:24:30 2019 UTC